@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap&subset=cyrillic');

* {
    margin: 0;
    padding: 0;
    cursor: default;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;

    font-family: Roboto, sans-serif
}

input {
    box-shadow: none !important;
}

/* Clock */
@keyframes rotate {
    100% {
        transform: rotateZ(360deg);
    }
}

.data {
    font-family: sans-serif;
    position: absolute;
    left: 49.5%;
    bottom: 13.3%;
    color: #555555;
    padding: 3px 2px;
    background-color: #f7f7f7;
    border: 1px solid #e7e7e7;
    z-index: -1;
    font-size: 0.66em;
}

.clock {
    height: 450px;
    width: 450px;
    border: 5px solid #dedede;
    border-radius: 50%;
    background: url('../img/clock.png') no-repeat center;
    background-size: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /*box-shadow: 0 5px 100px #000;*/
}

.clock:after {
    background: #dedede;
    border-radius: 50%;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1.5%;
    height: 1.5%;
    z-index: 10;
}

.minutes-container, .hours-container, .seconds-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hours {
    background: #aaaaaa;
    height: 33%;
    left: 49.5%;
    position: absolute;
    top: 17%;
    transform-origin: 50% 100%;
    width: 0.8%;
}

.minutes {
    background: #aaaaaa;
    height: 40%;
    left: 49.5%;
    position: absolute;
    top: 10%;
    transform-origin: 50% 100%;
    width: 0.8%;
}

.seconds {
    background: #dedede;
    height: 55%;
    left: 49.7%;
    position: absolute;
    top: 5.95%;
    transform-origin: 50% 80%;
    width: 0.6%;
    z-index: 8;
}


.hours-container {
    animation: rotate 43200s infinite linear;
}

.minutes-container {
    transition: transform 0.25s cubic-bezier(.4, 2.08, .55, .44);
    /*transition: transform 0.25s cubic-bezier(.4, 2.08, .55, .44);*/
}

.seconds-container {
    transition: transform 0.11s cubic-bezier(.4, 2.08, .55, .44);
    /*transition: transform 0.11s cubic-bezier(.4, 2.08, .55, .44);*/
}

.clock form button {
    background: transparent;
    border: 0;
}

.calculator-chart {
    width: 50%;
    height: 50%;

    position: absolute;
    left: 0;
    top: 0;

    border-radius: 100% 0 0 0;
}

.calculator-chart:hover {
    background-color: #2aea51;
    opacity: 0.2;
}

.planner-chart {
    width:50%; height:50%; position: absolute; right: 0; top: 0; border-radius: 0 100% 0 0;
}

.planner-chart:hover {
    background-color: #0045ea;
    opacity: 0.2;
}

.something-chart {
    width:50%; height:50%; position: absolute; right: 0; bottom: 0; border-radius: 0 0 100% 0;
}

.something-chart:hover {
    background-color: #ea008e;
    opacity: 0.2;
}

.else-chart {
    width:50%; height:50%; position: absolute; left: 0; bottom: 0; border-radius: 0 0 0 100%;
}

.else-chart:hover {
    background-color: #eab000;
    opacity: 0.2;
}


/* Temporary */
#calculator-title {
    left: 34%;
    top: 25%;
    transform: rotate(-45deg) translate(-50%, -50%);
}

#planner-title {
    left: 62%;
    top: 34%;
    transform: rotate(45deg) translate(-50%, -50%);
}

#title1 {
    right: 62%;
    bottom: 34%;
    transform: rotate(-135deg) translate(-50%, -50%);
}

#title2 {
    right: 34%;
    bottom: 25%;
    transform: rotate(135deg) translate(-50%, -50%);
}

.curved-title {
    position: absolute;
    font-size: 2.1em;
}