@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap&subset=cyrillic');

* {
    margin: 0;
    padding: 0;
    cursor: default;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    font-family: Roboto, sans-serif
}

input {
    box-shadow: none !important;
}

select {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

/*.required:after {*/
/*    padding-left: 5px;*/
/*    content: "*";*/
/*    color: red;*/
/*}*/

.user-icon {
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

.form-row {
    flex-direction: column;
}

.form-container {
    display: flex;
    width: 100%;
}

.form-container_person-information,
.form-container_income-container {
    border-right: 1px solid #d1d3e2;
    padding-right: 5px;
    margin-right: 18px;
    flex-basis: 33%;
}

.form-container_buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.form-container_buttons_edit,
.form-container_buttons_delete {
    margin: 10px;
    width: 80px;
}

.form-container_additional-information {
    flex-basis: 30%;
}

.inputs-age {
    padding-left: 20px;
}

.form-container_person-information_oldPassword {
    margin-bottom: 16px;
}

.form-container-headers {
    text-align: center;
    margin: 20px 0px;
}

@media (min-width: 490px) {
    .income-row-container-inputs {
        width: 85%;
        display: contents;
    }
}

@media (min-width: 490px) and (max-width: 990px) {
    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form-container_person-information,
    .form-container_income-container,
    .form-container_additional-information {
        width: 70%;
    }
}

@media (max-width: 990px) {
    .container {
        overflow-y: auto;
    }

    .form-group {
        margin-bottom: 0.5rem;
    }

    .input-group,
    .input-group-prepend,
    .form-control,
    .input-group-append,
    .input-group-text {
        height: 1.7rem;
    }

    .inputs-tax {
        padding: 0.375rem 0.7rem;
    }

    .input-group-text,
    .reg-label {
        font-size: 12px;
    }

    .card-title {
        font-size: 16px;
    }

    .btn-log {
        font-size: 14px;
        height: 1.7rem;
        padding: 0.2rem;
        width: 4rem;
    }

    .card-header {
        padding: 0.5rem 1rem;
    }

    .card-body {
        padding: 0.25rem 1.25rem;
    }

    .btn-reg {
        height: 2rem;
    }

    .footer-label {
        font-size: 14px;
    }

    .income-row-1,
    .income-row-2,
    .income-row-3,
    .income-row-4,
    .income-row-5 {
        flex-wrap: nowrap;
        width: 100%;
        margin-top: 15px;
    }

    .add-item-container {
        width: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .add-item-button {
        height: 1.7em;
        width: 1.7em;
        display: flex;
        justify-content: center;
    }

    .fa-plus,
    .fa-minus {
        font-size: 12px;
    }

    .inputs-age {
        padding: 0.375rem 0.95rem;
    }

    .select-item {
        padding: 0.3rem 0.76rem;
    }

    .form-container {
        flex-direction: column;
    }

    .form-container_person-information,
    .form-container_income-container {
        border-bottom: 1px solid #d1d3e2;
        padding-bottom: 5px;
        margin-bottom: 18px;
        flex-basis: 33%;
        border-right: none;
        margin-right: 0;
        padding-right: 0;
    }
}